<div class="story-container">
  <h1 class="page-title">MY STORY</h1>
  <div id="story_map"></div>
  <div class="container">
    <div class="panel-group" id="accordion">
      <% @stories.each do |story| %>
      <div class="panel panel-default" id="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= story.id %>">
              <table>
                <tr>
                  <td>
                    <div class="story-thumbnail">
                      <img src="<%= story.thumbnail %>">
                    </div>
                  </td>
                  <td>
                    <h1><%= story.year %></h1>
                  </td>
                  <td><div class="story-line"></div></td>
                  <td>
                    <div class="story-info">
                      <h3>
                        <%= story.title %>
                      </h3>
                      <h5>
                        <%= story.created_date %>
                      </h5>
                      <p>
                        <%= truncate( strip_tags( story.content ), length: 60 ) %>
                      </p>
                    </div>
                  </td>
                </tr>
              </table>
            </a>
          </div>
        </div>
        <div class="panel-collapse collapse" id="collapse<%= story.id %>">
          <div class="panel-body">
            <div id="carousel<%= story.id %>" class="carousel slide">
              <div class="carousel-inner">
                <% story.story_images.each_with_index do |image,index| %>
                <% if index == 0 %>
                <div class="item active">
                <% else %>
                <div class="item">
                <% end %>
                  <img src="<%= image.file.url(:storydetail) %>" alt="story">
                </div>
                <% end %>
              </div>

              <a class="left carousel-control" href="#carousel<%= story.id %>" data-slide="prev">
                <img src="/assets/arrow-left.png" class="arrow-btn">
              </a>
              <a class="right carousel-control" href="#carousel<%= story.id %>" data-slide="next">
                <img src="/assets/arrow-right.png" class="arrow-btn">
              </a>
            </div>
            <div class="contents">
              <h1>
                <%= story.subtitle %> <br>
                <%= story.date1_md %> ~ <%= story.date2_md %>
              </h1>
              <p><%= story.content %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCla7i-PEF6nc3lkGd-Hxa3AMp_xlqKxKY&sensor=false">
</script>
<script>
$(document).ready( function() {
  $('.collapse').on('show.bs.collapse', function () {
    $(this).siblings().find('.panel-title').addClass('active');
  });
  $('.collapse').on('hide.bs.collapse', function () {
    $(this).siblings().find('.panel-title').removeClass('active');
  });
  initialize();
  setMarker();
  function setMarker() {
    <% @stories.each do |story| %>
    var pos = new google.maps.LatLng(
      <%= story.lat %>,
      <%= story.lng %>
    );
    var marker = new google.maps.Marker({
      position: pos
    });

    marker.setMap(map);

    var info = new google.maps.InfoWindow({
      content: '<%= story.title %>'
    });

    info.open(map, marker);
    <% end %>
  }
  function initialize() {
    var initPos = new google.maps.LatLng(37.5408963,127.0592494);
    var mapOpt = {
      center: initPos,
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("story_map"), mapOpt);
  }
});
</script>
