<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1><%= @admin.name %>님 의 Dashboard 입니다.</h1>
            <a href="/admin/story">
              <button class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
                New Story
              </button>
            </a>
            <a href="/admin/post">
              <button class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
                New Post
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="text-muted bootstrap-admin-box-title">Story</div>
            </div>
            <div class="bootstrap-admin-panel-content">
              <table class="table bootstrap-admin-table-with-actions">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>부제목 </th>
                    <th>작성일</th>
                  </tr>
                </thead>
                <tbody>
                  <% @stories.each do |story| %>
                  <tr>
                    <td><%= story.id %></td>
                    <td><%= story.title %></td>
                    <td><%= story.subtitle %></td>
                    <td><%= story.created_at.localtime.strftime('%B %d, %Y AT %H:%M %p') %></td>
                    <td class="actions">
                      <%= link_to "Delete", "/admin/story?sid=#{story.id}", :method => "delete", :class => "btn btn-sm btn-danger" %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="text-muted bootstrap-admin-box-title">Post</div>
            </div>
            <div class="bootstrap-admin-panel-content">
              <table class="table bootstrap-admin-table-with-actions">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>대분류</th>
                    <th>소분류</th>
                    <th>작성일</th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.each do |post| %>
                  <tr>
                    <td><%= post.id %></td>
                    <td><%= post.title %></td>
                    <td><%= post.major %></td>
                    <td><%= post.minor %></td>
                    <td><%= post.date %></td>
                    <td class="actions">
                      <%= link_to "Edit", "/admin/post/modify?pid=#{post.id}", :class => "btn btn-sm btn-primary" %>
                      <%= link_to "Delete", "/admin/post/delete?pid=#{post.id}", :method => "delete", :class => "btn btn-sm btn-danger" %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <%= link_to 'logout', '/admin/logout', :method => 'delete', :class => 'btn btn-sm btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
