<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="page-header">
      <h2>LOGIN</h2>
    </div>
    <%= form_tag '/admin/login', method: 'post', class: "form-horizontal" do %>
      <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label">E-Mail</label>
        <div class="col-md-10">
          <input type="email" name="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
          <input type="password" name="password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-10">
          <input type="submit" class="form-control btn btn-primary" value="로그인">
        </div>
      </div>
      </fieldset>
    <% end %>
  </div>
</div>
