<div class="container post">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
          <h1>포스트 작성</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
          <div class="panel-heading">
              <div class="text-muted bootstrap-admin-box-title">포스트</div>
          </div>

          <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            <%= tinymce %>
            <%= form_tag '/admin/post/modify', :method => "post", :id => "post_form", :multipart => true, :class => "form-horizontal" do %>
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="focusedInput" >제목</label>
                  <div class="col-lg-10">
                    <input class="form-control" id="focusedInput" type="text" name="title" value="<%= @post.title %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="fileInput">이미지 업로드</label>
                  <div class="col-lg-7">
                    <div class="files-wrap">
                      <div class="files-list">
                      </div>
                      <a class="upload-controller btn btn-info">ADD IMAGE</a>
                    </div>
                    <div class="files">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="textarea-wysihtml5">글쓰기</label>
                  <div class="col-lg-10">
                    <textarea name="content" id="editor" class="tinymce" rows="20" cols="60" placeholder="Enter text..."><%= @post.content %></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 control-label" for="select02">카테고리 대분류</label>
                  <div class="col-lg-10">
                    <select id="major_selector" name="major">
                      <% @major_categories.each do |major| %>
                        <% if major.name == @post.major %>
                        <option value="<%= major.name %>" selected><%= major.name %></option>
                        <% else %>
                        <option value="<%= major.name %>"><%= major.name %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="select02">카테고리 소분류</label>
                  <div class="col-lg-10">
                    <select id="minor_selector" name="minor">
                    <% @minor_categories.each do |minor| %>
                      <% if minor.name == @post.minor %>
                      <option value="<%= minor.name %>" selected><%= minor.name %></option>
                      <% else %>
                      <option value="<%= minor.name %>"><%= minor.name %></option>
                      <% end %>
                    <% end %>
                    </select>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary post-save pull-right">Save</button>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag '/js/admin_post_modify' %>
