<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>스토리 만들기</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
          <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">스토리</div>
          </div>
          <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
            <%= form_tag '/admin/story', :method => "post", :id => "post_form", :multipart => true, :class => "form-horizontal" do %>
              <fieldset>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="focusedInput">제목</label>
                  <div class="col-lg-10">
                    <input class="form-control" type="text" name="title" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="focusedInput">부제목</label>
                  <div class="col-lg-10">
                    <input class="form-control" type="text" name="subtitle"required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="fileInput">이미지 업로드</label>
                  <div class="col-lg-7">
                    <div class="files">
                      <input type="file" name="file[]" class="file">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="textarea-wysihtml5">글쓰기</label>
                  <div class="col-lg-10">
                    <textarea id="textarea-wysihtml5" class="form-control textarea-wysihtml5" placeholder="Enter text..." style="width: 100%; height: 200px" name="content"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="date01">날짜</label>
                  <div class="col-lg-6">
                    <div class="col-lg-5">
                      <input type="text" class="form-control" id="date01" placeholder="03/06/2015" name="date1" required>
                    </div>
                    <span class="col-lg-1" style="font-size:20px; line-height:40px">~</span>
                    <div class="col-lg-5">
                      <input type="text" class="form-control" id="date02" placeholder="03/07/2015" name="date2" required>
                    </div>
                  </div>
                  <div class="col-lg-10 col-lg-offset-2">
                    <p class="help-block">행사 또는 이벤트 기간을 입력해주세요.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="admin_story_map">장소</label>
                  <div class="col-lg-10">
                  <div id="admin_story_map" style="height: 400px;"></div>
                  </div>
                </div>
                <div class="col-lg-offset-2">* 마커를 정확한 위치에 찍어주세요.</div>
                <input type="hidden" name="lat" class="lat" value="0">
                <input type="hidden" name="lng" class="lng" value="0">
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary">저장</button>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/admin_story.js"></script>
