<div class="modal fade" id="MenuModal" role="dialog" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal"><img src="/assets/modal-close.png"></button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/assets/modal-logo.png">
      </div>
      <div class="modal-body">
        <ul class="container">
          <li class="col-lg-2">
            <a href="/">HOME</a>
          </li>
          <li class="col-lg-2">
            <a href="/about">ABOUT</a>
          </li>
          <li class="col-lg-2">
            <a href="/story">STORY</a>
          </li>
          <li class="col-lg-2">
            <a href="/blog">BLOG</a>
          </li>
          <li class="col-lg-2">
            <a href="/portfolio">PORTFOLIO</a>
          </li>
          <li class="col-lg-2">
            <a href="/contact">CONTACT</a>
          </li>
        </ul>
        <div class="modal-sns">
          <a href="#none"><img src="/assets/modal-sns-twitter.png"></a>
          <a href="#none"><img src="/assets/modal-sns-facebook.png"></a>
          <a href="#none"><img src="/assets/modal-sns-pin.png"></a>
          <a href="#none"><img src="/assets/modal-sns-instagram.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>
