<div class="outer">
  <div class="inner">
    <div class="welcome">
      <h1>Welcome</h1>
      <h3>Learn HTML, CSS, PROGRAMMING</h3>
      <p>Learn how to build websites &amp; apps, write code or start a business.</p>
    </div>
    <div class="sns">
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-twitter.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>twitter</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-facebook.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>facebook</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-instagram.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>instagram</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-pin.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>pinterest</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="down-scrolling">
  <img src="/assets/img_bottom.png">
</div>
<div class="carousel slide content-wrapper" id="main-slider">
  <div class="carousel-inner">
    <div class="item active main-bg first">
      <div class="carousel-caption">
        <h1>The standard Lorem Ipsum passage</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
    <div class="item main-bg second">
      <div class="carousel-caption">
        <h1>The standard Lorem Ipsum passage</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
    <div class="item main-bg third">
      <div class="carousel-caption">
        <h1>The standard Lorem Ipsum passage</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" data-slide="prev" href="#main-slider">
    <img src="/assets/arrow-left.png">
  </a>
  <a class="right carousel-control" data-slide="next" href="#main-slider">
    <img src="/assets/arrow-right.png">
  </a>
</div>
