<div class="carousel slide" id="post-slider">
  <div class="carousel-inner">
  <% @post.post_images.each_with_index do |post_image,index| %>
    <% if index == 0 %>
    <div class="item active" style="background-image: url('<%= post_image.file.url %>');"></div>
    <% else %>
    <div class="item" style="background-image: url('<%= post_image.file.url %>');"></div>
    <% end %>
  <% end %>
  </div>

  <a class="left custom-control" data-slide="prev" href="#post-slider">
    <img src="/assets/post/left.png">
  </a>
  <a class="right custom-control" data-slide="next" href="#post-slider">
    <img src="/assets/post/right.png">
  </a>
</div>
<div class="mask">
</div>
<div class="down-post">
  <img src="/assets/post/post_bottom.png">
</div>

<div class="detail content-wrapper">
  <h1><%= @post.title %></h1>
  <h3 class="category"><%= @post.major %> > <span><%= @post.minor %></span></h3>
  <h3 class="date"><%= @post.date %></h3>
  <div class="content">
    <%= raw @post.content %>
  </div>
  <div class="sns">
    <span>SHARE</span>
    <a href="https://twitter.com/home?status=<%= @current_url %>" target="_blank">
      <img src="/assets/post/sns-01.png">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @current_url %>" target="_blank">
      <img src="/assets/post/sns-02.png">
    </a>
  </div>
  <div class="comment">
    <h1>LEAVE A COMMENT</h1>
    <%= form_tag '/comment', :method => 'post' do %>
      <div class="input-area">
        <input type="hidden" name="pid" value="<%= @post.id %>">
        <input type="text" name="name" class="name" placeholder="* NAME">
        <input type="password" name="password" class="password" placeholder="* PASSWORD">
      </div>
      <textarea rows="6" name="content" class="content" placeholder="* MESSAGE"></textarea>
      <button type="submit" class="send-btn">SEND MESSAGE</button>
    <% end %>
    <table>
      <% @comments.each do |comment| %>
        <tr>
          <td><img src="/assets/post/comment_profile.png"></td>
          <td class="content">
            <h3>
              <%= comment.name %>
              <span class="date">
                <%= comment.date %>
              </span>
            </h3>
            <p>
              <%= comment.content %>
            </p>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="relative-posts">
  <h1>RELATIVE POSTS</h1>
  <div class="thumbnails">
    <div class="relative-thumbnail">
      <% if @post.prev_post.nil? %>
        <img src="/assets/post/empty.jpg">
      <% else %>
        <a href="/blog/<%= @post.prev_post.id %>">
          <img src="<%= @post.prev_post.thumbnail %>">
          <div class="hover">
            <div class="information">
              <div class="inner">
                <p><%= raw @post.prev_post.summary %></p>
              </div>
            </div>
            <div class="foot">
              <h3><%= @post.prev_post.title %><br><span class="category"><%= @post.prev_post.minor %></span></h3>
            </div>
          </div>
        </a>
      <% end %>
    </div>

    <div class="relative-thumbnail">
      <% if @post.next_post.nil? %>
        <img src="/assets/post/empty.jpg">
      <% else %>
        <a href="/blog/<%= @post.next_post.id %>"><img src="<%= @post.next_post.thumbnail %>">
          <div class="hover">
            <div class="information">
              <div class="inner">
                <p><%= raw @post.next_post.summary %></p>
              </div>
            </div>
            <div class="foot">
              <h3><%= @post.next_post.title %><br><span class="category"><%= @post.next_post.minor %></span></h3>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  
  <div class="arrow">
    <div class="left">
      <% if @post.prev_post.nil? %>
        <img src="/assets/post/prev.png">
        <h1>PREV</h1>
      <% else %>
        <a href="/blog/<%= @post.prev_post.id %>">
            <img src="/assets/post/prev.png">
            <h1>PREV</h1>
        </a>
      <% end %>
    </div>

    <h3>POST LIST</h3>

    <div class="right">
      <% if @post.next_post.nil? %>
        <h1>NEXT</h1>
        <img src="/assets/post/next.png">
      <% else %>
        <a href="/blog/<%= @post.next_post.id %>">
            <h1>NEXT</h1>
            <img src="/assets/post/next.png">
        </a>
      <% end %>
    </div>
  </div>

</div>

<script>
  $('form').submit( function(e) {
    var name = $('.name').val();
    var pw = $('.password').val();
    var content = $('textarea').val();
    if(name == "" || pw == "" || content == "")
      e.preventDefault();
  });
</script>
