<div class="outer portfolio-bg">
  <div class="inner">
    <div class="portfolio-hello">
      <h1>PORTFOLIO</h1>
      <h3>Hello. We are a multi-disciplinary team working together to craft awesome websites, realise brand identities, design for print and capture visual imagery through photography. Take a look at some of our work below.</h3>
    </div>
  </div>
</div>
<div class="down-scrolling">
  <img src="/assets/portfolio/readmore.png">
</div>
<div class="portfolio-menu">
  <ul>
    <li class="filter" data-filter="all">ALL</li>
    <% @categories.each do |category| %>
      <li class="filter" data-filter=".<%= category.name %>"><%= category.name %></li>
    <% end %>
  </ul>
</div>
<div class="row portfolio-list content-wrapper">
  <% @posts.each do |post| %>
    <div class="post col-md-4 col-xs-12 mix <%= post.minor %>">
      <div class="thumb" style="background-image: url(<%= post.thumbnail %>);"></div>
      <div class="hover">
        <a href="portfolio/<%= post.id %>">
          <div class="information">
            <div class="inner">
              <p><%= post.summary %></p>
            </div>
          </div>
        </a>
        <div class="foot">
          <h3><%= post.title %><br><span class="category"><%= post.minor %></span></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.portfolio-list').mixItUp();
  $('.portfolio-menu li').click( scrollAnim );
</script>
