<div class="outer blog-bg">
  <div class="inner">
    <div class="blog-hello">
      <h1>BLOG</h1>
      <h3>Hello. We are a multi-disciplinary team working together to craft awesome websites, realise brand identities, design for print and capture visual imagery through photography. Take a look at some of our work below.</h3>
    </div>
  </div>
</div>
<div class="down-scrolling">
  <img src="/assets/blog/readmore.png">
</div>
<div class="container blog-menu">
  <ul>
    <li class="filter" data-filter="all">ALL</li>
    <% @categories.each do |category| %>
      <li class="filter" data-filter=".<%= category.name %>"><%= category.name %></li>
    <% end %>
  </ul>
</div>
<div class="container blog-list content-wrapper">
  <% @posts.each do |post| %>
    <div class="post mix <%= post.minor %>">
      <a href="/blog/<%= post.id %>">
        <div class="thumb">
          <img src="<%= post.thumbnail %>">
        </div>
      </a>
      <div class="right">
        <div class="title">
          <a href="/blog/<%= post.id %>">
            <%= post.title %>
            <div class="view">view</div>
          </a>
        </div>
        <p class="date"><%= post.date %></p>
        <div class="view-count">
          <img src="/assets/blog/view.png">
          <h3>VIEW <%= post.view_count %></h3>
        </div>
        <p class="summary"><%= post.summary %></p>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.blog-list').mixItUp({
    animation: {
      effects: 'fade rotateX(-40deg) translateZ(-100px)'
    }
  });
  $('.blog-menu li').click( scrollAnim );
</script>
