<div class="about">
  <div class="profile top-bg">
    <div class="profile-inner">
      <img src="/assets/about/me.jpg">
      <h2>Steve Jobs (1988~)</h2>
      <h4>Innovation distinguishes between a leader and a follower.</h4>
    </div>
  </div>
</div>
<div class="about">
  <div class="left">
  </div>
  <div class="right">
    <div class="contents">
      <h3>innovator</h3>
      <h3 class="name">Steve Jobs (1988~)</h3>
      <h5>Co-founder, Chairman, and CEO</h5>
      <p>Steven Paul "Steve" Jobs ( February 24, 1955 – October 5, 2011)[3][4] was an American entrepreneur,[5] marketer,[6] and inventor,[7] who was the co-founder, chairman, and CEO of Apple Inc. <br>Through Apple, he is widely recognized as a charismatic and design-driven pioneer of the personal computer revolution[8][9] and for his influential career in the computer and consumer electronics fields, transforming "one industry after another, from computers and smartphones to music and movies.<Br>"[10] Jobs also co-founded and served as chief executive of Pixar Animation Studios; he became a member of the board of directors of The Walt Disney Company in 2006, when Disney acquired Pixar. </p>
    </div>
  </div>
</div>
<div class="about">
  <div class="profile content-bg-1">
    <div class="profile-inner">
      <h1>3</h1>
      <h2>cups of coffee a day</h2>
      <h4>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
    </div>
  </div>
</div>
<div class="about">
  <div class="profile content-bg-2">
    <div class="profile-inner">
      <h1>2</h1>
      <h2>write of DIARY a day</h2>
      <h4>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
    </div>
  </div>
</div>
<div class="about">
  <div class="profile content-bg-3">
    <div class="profile-inner">
      <h1>1</h1>
      <h2>HAVE A CAMERA</h2>
      <h4>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4>
    </div>
  </div>
</div>
