<div class="outer contact-bg">
  <div class="inner">
    <div class="touch">
      <h1>GET IN TOUCH</h1>
      <h3>Hello. We are a multi-disciplinary team working together to craft awesome websites, realise brand <br>
      identities, design for print and capture visual imagery through photography. <br>
      Take a look at some of our work below.</h3>
    </div>
    <div class="sns">
      <div class="tooltips">
        <a href="#none"><img src="/assets/contact/sns-twitter.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>twitter</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/contact/sns-facebook.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>facebook</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/contact/sns-instagram.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>instagram</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/contact/sns-pin.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>pinterest</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="down-scrolling">
  <img src="/assets/contact/contact_bottom.png">
</div>
<div class="outer content-wrapper">
  <div class="inner">
    <div class="message">
      <h1>LEAVE ME A MESSAGE</h1>
      <%= form_tag '/contact', :method => 'post', :id => 'contact_form' do %>
        <div>
          <input type="text" name="name" placeholder="* NAME">
          <input type="email" name="email" placeholder="* EMAIL">
        </div>
        <textarea rows="6" name="content" placeholder="* MESSAGE"></textarea>
        <button type="submit" class="send">SEND MESSAGE</button>
      <% end %>
    </div>
  </div>
</div>
