// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about {
  width: 100%;
  position: relative;
  overflow: hidden;
  .profile {
    &.top-bg {
      background-image: url('/assets/about/background-img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.content-bg-1 {
      background-image: url('/assets/about/contents-bg-01.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.content-bg-2 {
      background-image: url('/assets/about/contents-bg-02.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.content-bg-3 {
      background-image: url('/assets/about/contents-bg-03.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    display: table;
    height: 500px;
    width: 100%;
    .profile-inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: white;
      padding: 0 10%;
      img {
        width: 270px;
        margin-bottom: 20px;
        border-radius: 50%;
      }
      h1 {
        font-size: 200px;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 17px;
        text-align: center;
        line-height: 30px;
        font-family: "Raleway", "Nanum Barun Gothic"
      }
    }
  }
  .left {
    background-image: url('/assets/about/second_profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    height: 600px;
    width: 50%;
  }
  .right {
    float: left;
    width: 50%;
    height: 600px;
    .contents {
      padding: 50px;
      h3 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700;
        color: #1d2533;
        &.name {
          font-size: 40px;
        }
      }
      h5 {
        margin: 35px 0;
        font-size: 20px;
      }
      p {
        line-height: 25px;
      }
    }
  }
}
