// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  &.post {
    .files-wrap {
      .files-list {
        .file-item {
          padding-bottom: 15px;
          font-weight: 600;
          font-size: 15px;
          .file-remove {
            cursor: pointer;
            height: 30px;
            color: #ffffff;
            margin-left: 40px;
          }
        }
      }
    }


    .files {
      display: none;
    }
  }
}
