// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-bg {
  background-size: cover;
  background-position: center;
  background-image: url('/assets/blog/blog-bg.jpg');
  background-repeat: no-repeat;
}
.blog-menu {
  margin: 0 auto;
  padding: 50px 0;
  background-color: white;
  text-align: center;
  ul {
    display: inline-block;
    li {
      display: inline-block;
      list-style: none;
      float: left;
      margin: 0 20px;
      font-size: 25px;
      font-weight: 600;
      color: rgba(198, 156, 109, 0.5);
      cursor: pointer;
      text-decoration: none;
      font-family: "Raleway";
    }
    li:hover {
      color: rgba(198, 156, 109, 1);
      text-decoration: none;
    }

  }
}
.blog-list {
  .post {
    &.mix {
      display: none;
    }
    display: inline-block;
    margin: 30px 0;
    .thumb {
      padding: 0;
      border: 0;
      border-radius: 0;
      display: inline-block;
      width: 400px;
      height: 300px;
      overflow: hidden;
    }
    .right {
      float: right;
      width: 625px;
      margin: 0px 0 10px 60px;
      .title {
        padding-bottom: 10px;
        display: inline-block;
        a {
          font-size: 25px;
          font-weight: 700;
          display: inline-block;
          text-decoration: none;
          color: #000000; 
          .view {
            display: none;
            background-color: #c69c6d;
            color: white;
            margin-left: 12px;
            padding: 2px 10px;
            border-radius: 10px;
            font-size: 14px;
            position: relative;
            text-align: center;
            width: 70px;
            cursor: pointer;
          }
        } 
        
      }
      .title:hover {
        a {
          color: #c69c6d;
        } 
        .view {
          display: inline-block;
        }
      }
      
      .date {
        font-size: 12px;
        color: #cccccc;
        font-family: "Montserrat", sans-serif;
      }
      .view-count {
        margin: 10px 0;
        img {
          margin-right: 5px;
          vertical-align: middle;
        }
        h3 {
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
          font-weight: 700;
          color: #000000;
          display: inline-block;
          margin-right: 20px;
          span {
            font-family: "Montserrat", sans-serif;
          }
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        color: #666666;
        &.summary {
          margin-top: 20px;
        }
      }
    }
  }  
}
