@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,800,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
* {
  font-family: "Montserrat", 'Nanum Barun Gothic';
}
.carousel {
  .carousel-inner {
    .item {
      .carousel-caption {
        text-align: left;
        left: 10%;
        right: 10%;
        bottom: 10%;
        width: 700px;
        h1, p {
          font-family: "Raleway", 'Nanum Barun Gothic';
        }
      }
      h1 {
        margin: 10px 0 30px 0;
        font-size: 35px;
        font-weight: 600;
      }
      p {
        font-size: 17px;
        line-height: 25px;
      }
    }
  }
  .carousel-control {
    background-image: none;
    img {
      position: absolute;
      top: 45%;
      left: 30%;
    }
  }
}
.down-scrolling {
  width: 100%;
  position: absolute;
  margin-top: -150px;
  text-align: center;
  img {
    cursor: pointer;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: none;
  z-index: 1000;
  * {
    transition: all 0.2s ease;
  }
  .logo {
    float: left;
    height: 40px;
    margin: 30px;
  }
  .menu {
    float: right;
    height: 30px;
    margin: 35px 30px;
    cursor: pointer;
  }
}
header.show {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  .logo {
    height: 30px;
    margin: 15px 30px;
  }
  .menu {
    height: 20px;
    margin: 20px 30px;
  }
}
.modal {
  .close {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 9999;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    display: table;
    margin: 0;
    .modal-content {
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      .modal-header {
        border-bottom: 0;
        margin-bottom: 120px;
      }
      .modal-body {
        ul {
          li {
            list-style: none;
            font-weight: 700;
            font-size: 30px;
            a {
              text-decoration: none;
              color: #ffffff;
              &:hover {
                color: #c7b299;
              }
            }
          }
        }
        .modal-sns {
          margin: 100px 0;
          img {
            margin: 0 15px;
          }
        }
      }
    }
  }
}
.outer {
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: table;
  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .welcome {
      font-family: "Raleway", 'Nanum Barun Gothic';
      h1 {
        font-size: 20px;
        font-weight: 600;
      }
      h3 {
        margin: 40px 0 20px;
        font-size: 30px;
        font-weight: 800;
      }
      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
    .touch {
      color: #ffffff;
      font-family: "Raleway";
      h1 {
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 15px;
      }
      h3 {
        margin: 30px 0 50px;
        font-size: 20px;
        font-weight: 600;
        line-height: 35px;
      }
    }
    .message {
      width: 980px;
      margin:0 auto;
      h1 {
        font-size: 35px;
        font-weight: 600;
        margin: 20px 0 70px;
      }
      div {
        input {
          border-radius: 5px;
          border: 3px solid #ddd;
          padding: 15px 25px;
          margin: 0 8px;
          line-height: 26px;
          font-size: 15px;
          color: #666;
          width: 430px;
          outline: 0;
        }
      }
      textarea {
        outline: 0;
        display: block;
        background-color: white;
        border-radius: 5px;
        border: 3px solid #ddd;
        padding: 25px;
        line-height: 26px;
        width: 880px;
        margin: 20px auto;
      }
      .send {
        background-color: #000000;
        color: white;
        padding: 15px 32px;
        border: 0;
        font-size: 16px;
        margin-top: 20px;
        float: right;
        margin: 20px 50px 0 0;
      }
    }
    .sns {
      margin-top: 50px;
      .tooltips {
        display: inline-block;
        position: relative;
        width: 100px;
        a {
          img {
            height: 46px;
          }
        }
        .hover {
          position: absolute;
          margin: 10px 0 0;
          display: none;
          z-index: 1000;
          .balloon {
            width: 20px;
          }
          h3 {
            width: 100px;
            font-size: 15px;
            color: white;
            background-color: #333334;
            padding: 10px 0;
            margin: -5px 0 0;
          }
        }
      }
      .tooltips:hover {
        .hover {
          display: block;
        }
      }
    }
    .blog-hello, .portfolio-hello {
      color: #ffffff;
      margin: 0 auto;
      width: 50%;
      font-family: "Raleway";
      h1 {
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 15px;
      }
      h3 {
        margin: 30px 0 50px;
        font-size: 20px;
        font-weight: 600;
        line-height: 35px;
      }
    }

  }
}
