// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-bg {
  background-size: cover;
  background-position: center;
  background-image: url('/assets/contact/contact-bg.jpg');
  background-repeat: no-repeat;
}
