// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.main-bg {
  height: 100vh;
  background-size: cover;
  background-position: center;
  &.first {
    background-image: url('/assets/main-banner-01.jpg');
  }
  &.second {
    background-image: url('/assets/main-banner-02.jpg');
  }
  &.third {
    background-image: url('/assets/main-banner-03.jpg');
  }
}
