// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.portfolio-bg {
  background-size: cover;
  background-position: center;
  background-image: url('/assets/portfolio/portfolio-bg.jpg');
  background-repeat: no-repeat;
}
.portfolio-menu {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: white;
  text-align: center;
  
  ul {
    display: inline-block;
    li {
      display: inline-block;
        list-style: none;
        float: left;
        margin: 0 20px;
        font-size: 25px;
        font-weight: 600;
        color: rgba(198, 156, 109, 0.5);
        cursor: pointer;
    }
    li:hover {
        color: rgba(198, 156, 109, 1);
        text-decoration: none;
    }

  }
}
.portfolio-list {
  .post {
    &.mix {
      display: none;
    }
    padding: 0;
    * {
      transition: all 0.5s ease;
    }
    .thumb {
      width: 100%;
      height: 400px;
      background-size: cover;
      background-position: center center;
    }
    .hover {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      a {
        text-decoration: none;
        .information {
          display: table;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.8);
          width: 100%;
          height: 400px;
          word-break: break-all;
          .inner {
            display: table-cell;
            padding: 0 30px 50px 30px;
            vertical-align: middle;
            text-align: center;
          }
          h3 {
            color: #c69c6d;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            margin: 10px 0;
          }
          p {
            color: white;
            line-height: 25px;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
      .foot {
        background-color: white;
        height: 100px;
        padding: 10px 40px 30px 40px;
        top: auto;
        bottom: -100px;
        position: absolute;
        width: 100%;
        h3 {
          font-size: 20px;
          font-weight: 800;
          color: #000000;
          display: inline-block;
          .category {
            font-size: 14px;
            color: #c69c6d;
            font-weight: 600;
          }
        }
      }
    }
  }
  .post:hover {
    .hover {
      .information {
        opacity: 1;
        .inner {
          padding-bottom: 100px;
        }
      }
      .foot {
        bottom: 0px;
      }
    }
  }
}
