// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post-slider {
  .item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .custom-control {
    position: absolute;
    background-image: none;
    z-index: 3;
    margin-top: 87vh;
    top: 0;
    &.left {
      right: 200px;
    }
    &.right {
      right: 100px;
    }
  }
}
.mask {
  position: absolute;
  border-top: 20vh solid transparent;
  border-right: 100vw solid white;
  top: 1px;
  right: 0;
  margin-top: 80vh;
}
.down-post {
  position: absolute;
  margin-top: -130px;
  left: 100px;
  cursor: pointer;
}

.detail {
  width: 980px;
  margin: 40px auto;
  text-align: center;
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
  }
  .category {
    margin: 20px 0 50px;
    color: rgba(198, 156, 109, 0.5);
    span {
      color: rgba(198, 156, 109, 1);
    }
  }
  .date {
    color: #b2b2b2;
    font-size: 14px;
    margin: 20px 0 50px;
  }
  
  p {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-align: left;
    word-break: break-all;
  }
  .content {
    img {
      margin-top: 10px;
      width: 100%;
    }
  }

  .sns {
    margin: 30px 0 60px;
    span {
      line-height: 50px;
      vertical-align: top;
      font-weight: 600;
      color: #7F8080;
    }
    img {
      margin: 0 10px;
    }
  }
  .comment {
    margin: 90px 0 50px;
    .input-area {
      input {
        background-color: white;
        border-radius: 5px;
        border: 3px solid #ddd;
        padding: 15px 25px;
        margin: 0 8px;
        line-height: 26px;
        font-size: 15px;
        color: #666;
        width: 430px;
      }
    }
    textarea {
      display: block;
      background-color: white;
      border-radius: 5px;
      border: 3px solid #ddd;
      padding: 25px;
      line-height: 26px;
      width: 880px;
      margin: 20px auto;
    }
    .send-btn {
      background-color: #000000;
      color: white;
      padding: 15px 32px;
      border: 0;
      font-size: 16px;
      margin-top: 20px;
      float: right;
      margin: 20px 50px 0 0;
    }
    table {
      width: 100%;
      tr {
        td {
          &.content {
            width: 100%;
          }
          text-align: left;
          padding: 10px 0;
          vertical-align: top;
          img {
            margin: 10px 30px 10px 0;
            width: 90px;
            height: 90px;
          }
          h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 10px;
            span {
              font-family: "Montserrat", sans-serif;
              font-size: 15px;
              font-weight: 400;
              margin-left: 20px;
            }
          }
        }
      }
      .answer {
        position: relative;

      }
    }
  }
}

.relative-posts {
  margin: 80px 0 150px;
  width: 980px;
  margin: 40px auto;
  text-align: center;
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
  }
  .thumbnails {
    * {
      transition: all 0.5s ease;
    }
    .relative-thumbnail {
      text-align: left;
      display: inline-block;
      position: relative;
      overflow: hidden;
      .hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        .information {
          opacity: 0;
          display: table;
          width: 100%;
          height: 100%;
          .inner {
              display: table-cell;
              padding: 30px 30px 50px 30px;
              vertical-align: middle;
              text-align: center;
            p {
              color: white;
              line-height: 25px;
              font-family: "Montserrat", sans-serif;
              word-break: break-all;
            }
          }
        }
        .foot {
          background-color: white;
          height: 60px;
          padding: 0 15px;
          top: auto;
          bottom: -60px;
          position: absolute;
          width: 100%;
          h3 {
            font-size: 18px;
            font-weight: 800;
            color: #000000;
            display: inline-block;
            .category {
              font-size: 12px;
              color: #c69c6d;
              font-weight: 600;
            }
          }
        }
      }
    }
    .relative-thumbnail:hover {
      .hover {
        opacity: .9;
        .information {
          opacity: 1;
        }
        .foot {
          bottom: 0px;
        }
      }
    }

    img {
      width: 485px;
      height: 300px;
    }
  }
  .arrow {
    img {
      margin: 0;
      vertical-align: middle;
    }
    h3 {
      vertical-align: middle;
      font-size: 20px;
      font-weight: 600;
      color: #c69c6d;
      display: inline-block;
      margin-top: 15px;
    }
    .left {
      float: left;
      display: inline-block;
      h1 {
        display: inline-block;
        font-size: 16px;
        color: #aaa;
        margin-left: 10px;
      }
    }
    .right {
      float: right;
      display: inline-block;
      h1 {
        display: inline-block;
        font-size: 16px;
        color: #aaa;
        margin-right: 10px;
      }
    }
  }
}
