// Place all the styles related to the story controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#story_map {
  height: 400px;
}
.story-container {
  background-color: #f2f2f2;
  margin-top: 100px;
  min-height: 100%;
  .page-title {
    background-color: #ffffff;
    padding: 30px 0 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  .panel-group {
    .panel {
      margin-top: 0;
      border: none;
      .panel-heading {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #333;
        border-radius: 0;
        background-color: #f2f2f2;
        position: relative;
        .panel-title {
          &.active {
            background-color: #ffffff;
            .story-line {
              -webkit-transform:
                  translateX(-50px)
                  translateY(-40px)
                  rotate(27deg);
            }
            .story-thumbnail {
              width: 250px;
            }
          }
          &:hover {
            background-color: #ffffff;
            .story-line {
              -webkit-transform:
                  translateX(-50px)
                  translateY(-40px)
                  rotate(27deg);
            }
            .story-thumbnail {
              width: 250px;
            }
          }
          table {
            td {
              .story-thumbnail {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -mx-box-sizing: border-box;
                overflow: hidden;
                height: 160px;
                transition: width 500ms;
                width: 0px;
              }
              .story-line {
                  width: 30px;
                  height: 100px;
                  border-left: 1px solid #a4a4a4;
                  -webkit-transform:
                    translateX(-50px)
                    translateY(-40px);
                  transition-duration: 500ms;
                  position: absolute;
              }
              h1 {
                display: inline-block;
                width: 150px;
                margin: 0 30px;
                font-family: "Montserrat", sans-serif;
                font-size: 50px;
              }
              .story-info {
                display: inline-block;
                width: 600px;
                h3 {
                  font-size: 20px;
                  font-weight: 600;
                  color: #666666;
                }
                h5 {
                  margin: 8px 0 20px;
                  font-family: "Montserrat", sans-serif;
                  font-size: 14px;
                  color: #cccccc;
                }
                p {
                  color: #999;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .panel-collapse {
        .panel-body {
          padding: 0;
          .contents {
            padding: 25px;
            h1 {
              display: inline-block;
              width: 20%;
              margin-right: 20px;
              margin-top: 0;
              font-size: 30px;
              font-weight: 700;
              line-height: 45px;
              text-align: center;
              vertical-align: top;
            }
            p {
              display: inline-block;
              line-height: 28px;
              width: 70%;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}
